body {
    width: 1280px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 50px;
    background-color: #445162;
    box-sizing: border-box;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header-wrp {
    float: left;
}

.header-title {
    margin: 0 0 0 0;
    font-family: ArialMT;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.header-ul {
    padding: 0 0 0 20px;
    margin: 20px 0 0 0;
    min-height: 128px;
    font-family: ArialMT;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

.header-ul-item {
    list-style: none;
    position: relative;
    padding: 0 0 0 15px;
}

.header-ul-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url('..//img/check_img.png');
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -18px;
}

.header-img {
    float: right;
    width: 469px;
    min-height: 214px;
}

.main {
    width: 100%;
}

.main-about-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
}

.main-about-wrp::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-about-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
}

.about-wrp {
    float: left;
}

.about-title {
    margin: 0 0 0 0;
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.about-p {
    margin: 20px 0 0 0;
    width: 649px;
    min-height: 63px;
    display: block;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-img {
    float: right;
    width: 430px;
    min-height: 245px;
    background-color: #445161;
}