@font-face {
    font-family: 'Socialico';
    src: url('../fonts//Socialico.eot');
    src: url('../fonts/Socialico.eot?iefix') format('eot'),
        url('../fonts/Socialico.woff') format('woff'),
        url('../fonts/Socialico.ttf') format('truetype'),
        url('../fonts/Socialico.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 1280px;
    margin: 0 auto;
    font-family: ArialMT;
}

.header {
    width: 100%;
    padding: 50px;
    background-color: #445162;
    box-sizing: border-box;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header-wrp {
    float: left;
}

.header-title {
    margin: 0 0 0 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.header-ul {
    padding: 0 0 0 20px;
    margin: 20px 0 0 0;
    min-height: 128px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

.header-ul-item {
    list-style: none;
    position: relative;
    padding: 0 0 0 15px;
}

.header-ul-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url('..//img/check_img.png');
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -18px;
}

.header-img {
    float: right;
}

.main {
    width: 100%;
}

.main-about-wrp {
    width: 100%;
    display: block;
    padding: 50px;
}

.main-about-wrp::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-about-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
}

.about-wrp {
    float: left;
}

.about-title {
    margin: 0 0 0 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.about-p {
    margin: 20px 0 0 0;
    width: 649px;
    min-height: 63px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-img {
    float: right;
    background-color: #445161;
}

.main-dignity-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.dignity-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-title {
    width: 100%;
    min-height: 28px;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.dignity-details {
    width: 48%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 0;
}

.dignity-details-nomargin {
    margin: 0;
}

.dignity-summary:before {
    margin: 0 10px 0 0;
    content: "+";
    height: 22px;
    background-color: #445161;
    color: white;
    font-size: 38px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    list-style: none;
}

.dignity-summary::-webkit-details-marker {
    display: none;
}

.dignity-summary {
    display: flex;
    outline: none;
}

.dignity-summary-p {
    margin: 5px 0 5px 0;
    padding: 0 0 0 33px;
}

.main-screenshots-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
}

.screenshots-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-title {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.screenshots-figure {
    width: 48%;
    display: flex;
    margin: 0 0 30px 0;
}

.screenshots-figure-nomargin {
    margin: 0px;
}

.screenshots-figure-img {
    margin: 0 10px 0 0;
}

.screenshots-figure-figcaption-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-figure-figcaption-p {
    display: block;
    min-width: 100px;
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.main-reviews-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.reviews-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-title {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.reviews-figure {
    width: 48%;
    margin: 0;
    display: flex;
    margin: 0 0 30px 0;
}

.reviews-figure-img {
    padding: 0 30px 0 0;
}

.reviews-figure-figcaption-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.reviews-figure figcaption {
    padding: 16px;
    box-sizing: border-box;
    background-color: #ebebeb;
    border-radius: 10px;
    position: relative;
}

.reviews-figure-figcaption-p {
    padding: 0;
    margin: 0;
}

.reviews-figure-figcaption-span-sign {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.reviews-figure figcaption:before {
    content: "";
    display: block;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
    position: absolute;
    top: 15px;
    left: -30px;
}

.main-buy-wrp {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.buy-wrp {
    display: flex;
    flex-wrap: wrap;
}

.buy-title {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.buy-list {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.buy-list-item {
    display: flex;
    align-items: flex-end;

}

.buy-list-item-wrp {
    background-color: #445162;
    min-width: 33%;
    border-radius: 5px;
    margin: 0 20px 0 20px;
    padding: 0 0 15px 0px;

}

.buy-list-item-title {
    margin: 0;
    padding: 15px 0 15px 0;
    text-align: center;
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.buy-list-item-p {
    display: block;
    text-align: center;
    margin: 0;
    padding: 15px 0 15px 0;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    border: 2.0px solid #445162;

}

.buy-list-item-ol {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy-list-item-button {
    text-decoration: none;
    border-radius: 10px;
    display: block;
    margin: 0 20px 0 20px;
    padding: 13px 0 13px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    background-color: #ffffff;
    min-width: 260px;
}

.buy-list-item-button:hover {
    background-color: #f5f5f5;
}

.buy-list-item-button:active {
    background-color: #445161;
    color: #ffffff;
}

.footer {
    width: 100%;
}

.footer-wrp {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
    justify-content: center;
}

.footer-title {
    display: block;
    margin: 0 0 20px 0;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

.footer-form-wrp {
    display: flex;
    width: 50%;
    justify-content: center;
}

.footer-form {
    display: flex;
    width: 500px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.footer-form-name,
.footer-form-email,
.footer-form-textarea {
    border-radius: 5px;
    padding: 0;
    font-size: 16px;
    margin: 0 0 20px 0;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    outline: none;

}

.footer-form-name {
    text-transform: capitalize;
}

.footer-form-email {
    text-transform: capitalize;
}

.footer-form-textarea {
    height: 170px;
    resize: none;
}

.footer-form-name:hover,
.footer-form-email:hover,
.footer-form-textarea:hover {
    background-color: #f5f5f5;
}

.footer-form-button {
    align-self: center;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    margin: 0 20px 0 20px;
    padding: 13px 0 13px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    background-color: #ffffff;
    width: 140px;
    outline: none;
}

.footer-form-button:hover {
    background-color: #f5f5f5;
}

.footer-form-button:active {
    background-color: #445161;
    color: #ffffff;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts-list {
    margin: 0;
    padding: 0;

}

.footer-contacts-list-item {
    list-style: none;
    position: relative;
    padding: 15px 0 0 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.footer-contacts-list-item:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 17px;
    left: 5px;
}

.skype:before {
    background-image: url('..//img/skype_icon.png');
}

.icq:before {
    background-image: url('..//img/icq_icon.png');
}

.email:before {
    background-image: url('..//img/email_icon.png');
}

.phone:before {
    background-image: url('..//img/phone_icon.png');
}

.footer-social {
    padding: 50px 0 0 0;
}

.footer-social a {
    font-family: Socialico, normal;
    font-size: 60px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
}

.footer-copyright {
    display: block;
    width: 1280px;
    margin: 0;
    text-align: center;
    color: #606b79;
    background-color: #f5f5f5;
}