body {
    width: 1280px;
    margin: 0 auto;
    font-family: ArialMT;
}

.header {
    width: 100%;
    padding: 50px;
    background-color: #445162;
    box-sizing: border-box;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header-wrp {
    float: left;
}

.header-title {
    margin: 0 0 0 0;
    font-family: ArialMT;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.header-ul {
    padding: 0 0 0 20px;
    margin: 20px 0 0 0;
    min-height: 128px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

.header-ul-item {
    list-style: none;
    position: relative;
    padding: 0 0 0 15px;
}

.header-ul-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url('..//img/check_img.png');
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -18px;
}

.header-img {
    float: right;
    width: 469px;
    min-height: 214px;
}

.main {
    width: 100%;
}

.main-about-wrp {
    width: 100%;
    display: block;
    padding: 50px;
}

.main-about-wrp::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-about-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
}

.about-wrp {
    float: left;
}

.about-title {
    margin: 0 0 0 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.about-p {
    margin: 20px 0 0 0;
    width: 649px;
    min-height: 63px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-img {
    float: right;
    width: 430px;
    min-height: 245px;
    background-color: #445161;
}

.main-dignity-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.dignity-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-title {
    width: 100%;
    min-height: 28px;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.dignity-details {
    width: 48%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 0;
}

.dignity-summary:before {
    margin: 0 10px 0 0;
    content: "+";
    height: 22px;
    background-color: #445161;
    color: white;
    font-size: 38px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    list-style: none;
}

.dignity-summary::-webkit-details-marker {
    display: none;
}

.dignity-summary {
    display: flex;
}

.dignity-summary-p {
    margin: 5px 0 5px 0;
    padding: 0 0 0 33px;
}

.main-screenshots-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
}

.screenshots-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-title {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.screenshots-figure {
    width: 48%;
    margin: 0;
    display: flex;
    margin: 0 0 30px 0;
}

.screenshots-figure-img {
    padding: 0 10px 0 0;
}

.screenshots-figure-figcaption-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-figure-figcaption-p {
    display: block;
    min-width: 100px;
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.main-reviews-wrp {
    width: 100%;
    display: block;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.reviews-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-title {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.reviews-figure {
    width: 48%;
    margin: 0;
    display: flex;
    margin: 0 0 30px 0;
}

.reviews-figure-img {
    height: 75px;
    padding: 0 30px 0 0;
}

.reviews-figure-figcaption-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.reviews-figure-figcaption-p {
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    background-color: #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.reviews-figure-figcaption-p:before {
    content: "";
    display: block;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
    position: absolute;
    top: 15px;
    left: -30px;
}

.reviews-figure-figcaption-p-sign {
    padding: 0 10px 10px 10px;
    display: block;
    min-width: 100px;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    background-color: #ebebeb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}